.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map {
  height: 90vh;
  /*width: 400px;*/
}

.trucklist {
  height: 90vh;
  overflow-y: auto;
}

.gray-text {
  color: #808080;
  font-weight: bold;
}

.truckImg {
  width: 38px;
}

.active {
  background: lightgrey;
}
